

<ion-content [fullscreen]="true">
  <div class="bg">
   
   <!-- <h1 class="h">Today,</h1>
   <h5 class="date">{{ currentDate | date:'shortDate' }}</h5> -->

   <div class="middle">
    <div  class="box">
      <h1 class="h">What can we serve you today?</h1>
     <p class="p">Discover, order, and enjoy! Delight in our diverse menu, crafted by talented chefs.
       From worldwide flavors to local favorites, we've got you covered.
        Dine in, take out, or have it delivered - it's all here for an unforgettable culinary experience. 
        Bon appétit!</p> 
     
       <ion-button class="btn"  (click)="goToHome()">Welcome</ion-button> 
    </div>
   </div>
 
  </div>
   
</ion-content>
