<ion-content [fullscreen]="true">
  <form #ingredientForm="ngForm" (ngSubmit)="confirm(ingredientForm.value)">
    <ion-list>
      <ion-item>
        <ion-input #name="ngModel"
                [class.is-invalid]="name.invalid && name.touched"
                [required]="true"
                ngModel name="name" label="Name *" labelPlacement="stacked" placeholder="Name">
        </ion-input>
      </ion-item>
      <ion-item class="image-upload ion-margin-top">
        <div class="upload-square" style="margin: auto">
          <label for="file-input" class="upload-label">
            <ion-icon name="image-outline"></ion-icon>
            <span>Choose ingredient image *</span>
          </label>
          <input type="file" id="file-input" (change)="handleImageChange($event)"/>
          <div *ngIf="image.url" class="image-preview">
            <img style="width: 100%; height: 100%" [src]="image.url" alt="Preview"/>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="name.errors || !image.url" expand="full">Confirm</ion-button>
  </form>
</ion-content>
