
<ion-header [translucent]="true">
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>My Profil</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="profile-image-container" >
     <ion-img class="profile-image" [src]="user.profileImage"></ion-img>
     <ion-icon class="edit-icon" name="create" (click)="openImageInput()"></ion-icon>
     <input type="file" accept="image/*" (change)="onImageSelected($event)" #imageInput style="display: none">
  </div>

    <div class="middle">
      <div  class="box"> 
    <ion-item>
      <ion-label position="floating" class="custom-label">First Name</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.firstname" class="custom-label"></ion-input>
      <ion-icon  name="person-circle-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="custom-label">Last Name</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.lastname" class="custom-label"></ion-input>
      <ion-icon   name="checkmark-done-circle-outline" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating" class="custom-label">Phone</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.phone" class="custom-label"></ion-input>
      <ion-icon  name="call-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="custom-label">Email Adress</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.email" class="custom-label"></ion-input>
      <ion-icon class="icon-align-self-center" slot="end" name="mail"></ion-icon>
    </ion-item>
   
    
  </div>
  </div>
  <div class="btn">
  <ion-button expand="full" (click)="toggleEdit()">
    {{ isEditing ? 'Save' : 'Edit Profil' }}
  </ion-button>
</div>
  </div>
</ion-content>
