

<ion-content [fullscreen]="true">
  <div class="bg">

    <!-- <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input [disabled]="!isEditing" [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="toggleEdit()">
      {{ isEditing ? 'Enregistrer' : 'Modifier' }}
    </ion-button> -->
  </div>
</ion-content>
