<ion-content [fullscreen]="true">
  <div class="bg">
    <div class="upper">
      <div class="icon" style="display: flex;justify-content: center;">
        <ion-icon name="restaurant"></ion-icon>
      </div>

    </div>

    <div class="middle">
      <div class="box">
        <form #signupForm="ngForm" (ngSubmit)="signUp(signupForm.value)">
          <p> Create Account</p>
          <ion-item>
            <ion-input labelPlacement="floating" placeholder="Your First Name"
                       name="firstName"
                       ngModel
                       #firstName="ngModel"
                       required="true">
              <div slot="label">First name
                <ion-text style="font-size: 15px" color="danger" *ngIf="firstName.invalid && firstName.touched"><sup>Please Write your First name</sup></ion-text>
              </div>
            </ion-input>
            <ion-icon  name="person-circle-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="floating" placeholder="Your Last Name"
                       name="lastName"
                       ngModel
                       #lastName="ngModel"
                       required="true">
              <div slot="label">Last name
                <ion-text style="font-size: 15px" color="danger" *ngIf="lastName.invalid && lastName.touched"><sup>Please Write your Last name</sup></ion-text>
              </div>
            </ion-input>
            <ion-icon  name="person-circle-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="floating" placeholder="Your Phone Number"
                       type="number"
                       name="phoneNumber"
                       ngModel
                       #phoneNumber="ngModel"
                       required="true">
              <div slot="label">Phone number
                <ion-text style="font-size: 15px" color="danger" *ngIf="phoneNumber.invalid && phoneNumber.touched"><sup>Please Write your Phone number</sup></ion-text>
              </div>
            </ion-input>
            <ion-icon  name="call-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="floating" placeholder="Your E-mail"
                       name="email"
                       ngModel
                       #email="ngModel"
                       required="true">
              <div slot="label">E-mail
                <ion-text style="font-size: 15px" color="danger" *ngIf="email.invalid && email.touched"><sup>Please Write your Email address</sup></ion-text>
              </div>
            </ion-input>
            <ion-icon class="icon-align-self-center" slot="end" name="mail"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input type="password" labelPlacement="floating" placeholder="Your Password"
                       name="password"
                       ngModel
                       #password="ngModel"
                       required="true">
              <div slot="label">Password
                <ion-text style="font-size: 15px" color="danger" *ngIf="password.invalid && password.touched"><sup>Please Write your Password</sup></ion-text>
              </div>
            </ion-input>
            <ion-icon class="icon-align-self-center" slot="end" name="key-outline"></ion-icon>
          </ion-item>
          <div class="btn">
            <ion-button type="submit" [disabled]="firstName.errors || lastName.errors || phoneNumber.errors || email.errors || password.errors">Sign-Up</ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>

</ion-content>
