<ion-app>
  <ion-menu contentId="main" side="end" *ngIf="!isSignInOrSignUpRoute()">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="ion-no-padding" *ngIf="connected">
          <ion-accordion-group style="width: 100%">
            <ion-accordion>
              <ion-item slot="header">
                <ion-avatar>
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
                </ion-avatar>
                <ion-label
                  class="ion-margin-start">{{connectedUser?.firstName | titlecase}} {{connectedUser?.lastName | titlecase}}</ion-label>
              </ion-item>
              <div class="ion-padding-start" slot="content">
                <ion-menu-toggle>
                  <ion-item class="ion-no-padding" [routerLink]="profileUrl">
                    <ion-icon name="person-circle" slot="start"></ion-icon>
                    My profile
                  </ion-item>
                  <ion-item class="ion-no-padding" routerLink="/" (click)="logOut()">
                    <ion-icon name="log-out" slot="start"></ion-icon>
                    Log out
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
        <ion-menu-toggle>
          <ion-item routerLink="/">
            <ion-icon name="home" slot="start"></ion-icon>
            Home
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="userRole === 'ADMIN'">
          <ion-item routerLink="ingredients-list">
            <ion-icon name="list" slot="start"></ion-icon>
            Ingredients
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="items-list">
            <ion-icon name="fast-food" slot="start"></ion-icon>
            Menu
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="!connected">
          <ion-item routerLink="signup">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Sign-up
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="!connected">
          <ion-item routerLink="signin">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Sign-in
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <!--<app-footer></app-footer>-->
</ion-app>
