<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="cart"></ion-icon>
            </ion-button>

            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Details</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-card *ngIf="item">
        <ion-img alt=""
                 [src]="'data:image/png;base64,' + item.image.imageBytes">
        </ion-img>
        <ion-card-title class="ion-padding">{{item.name}}</ion-card-title>
        <ion-card-subtitle class="ion-padding">{{item.description}}</ion-card-subtitle>
        <ion-card-content>
            <div style="color: white; width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between">
                <h2>TND {{item.price}}</h2>
                <ion-button size="small">
                    <ion-icon name="cart" slot="end"></ion-icon>
                    Add to cart
                </ion-button>
            </div>
            <h2 *ngIf="item.itemIngredients.length"  style="color: white">
                Ingredients:
            </h2>
            <ion-list *ngIf="item.itemIngredients.length" style="background-color: #1c1c1d">
                <ion-chip *ngFor="let itemIngredient of item.itemIngredients">
                    <ion-avatar>
                        <ion-img alt="Silhouette of a person's head"
                                 [src]="'data:image/png;base64,' + itemIngredient.ingredient.image.imageBytes"></ion-img>
                    </ion-avatar>
                    <ion-label>{{itemIngredient.ingredient.name}}</ion-label>
                </ion-chip>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
