<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="cart-outline"></ion-icon>
            </ion-button>

            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Details</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
   <ion-card>
     <ion-grid *ngIf="item">
       <ion-row>
         <ion-col size="12">
           <ion-img alt=""
                    [src]="'data:image/png;base64,' + item.image.imageBytes">
           </ion-img>
         </ion-col>
         <ion-col size="12">
           <ion-title>{{item.name}}</ion-title>
         </ion-col>
         <ion-col size="12">
           <h6>{{item.description}}</h6>
         </ion-col>
       </ion-row>
     </ion-grid>
   </ion-card>
</ion-content>
